* {
    padding: 0px;
    margin: 0px;
}


.li {
    text-align: center;
}

/* carousel */
#car{
    position: relative;
    left: -90px;
}

.carousel-inner {
    border: #000;
    border-radius: 50px;
    box-shadow: 2px 2px 10px black;
}

/* map */
#map {
    border: 0;
    position: absolute;
    right: 50px;
    top: 120px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
}

.book {
    position: absolute;
    top: 900px;
    left: 1000px;
    background-color: #f3c2c26c;
    border-radius: 20px;
    padding: 50px;
    padding-top: 100px;
    box-shadow: 2px 2px 10px black;
    font-size: 25px;
    height: 550px;
    width: 800px;
    font-family: 'Times New Roman', Times, serif;
}

.book input {
    border-radius: 10px;
    border: 2px;
    box-shadow: 2px 2px 10px black;
    background: #000000c7;
    color: #fff;
    padding: 2px;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 300px;
    padding: 2px;
}

.des {
    height: auto;
    width: 900px;
    background-color: #ffffff6c;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 10px black;
    margin-bottom: 100px;
}

h4 {
    position: relative;
    left: 100px;
}

.button-62 {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    position: absolute;
    left: -140px;
    top: 100px;
    width: 300px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
/* footer */

.footer{
    display: flex;
    justify-content: center;
    background-color: #212529;
    padding: 20px;
    color: #fff;
    flex-wrap: wrap;
    text-align: center;
    gap: 40px;
    margin-top: 25px;
}
.footer ul{
    list-style-type:none;
}
.footer a{
    text-decoration: none;
    color:#fff;
}
.footer h5{
    color: #f5d020;
}

a:hover {
    color: #f5d020;
}


@media only screen and (max-width: 600px) {

    #car {
        position: relative;
        left: 0px;
    }
    #map {
        border: 0;
        position: relative;
        top: 2vh;
        left: 15px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
        height: 25vh;
        width: 92vw;
        }

    .des {
        width: auto;
        height: auto;
    }

    .book {
        position: relative;
        top: auto;
        left: 15px;
        font-size: 20px;
        height: 450px;
        width: auto;
        padding: 10px;
        margin-right: 15px;
    }

    .book input {
        border-radius: 10px;
        border: 2px;
        box-shadow: 2px 2px 10px black;
        background: #000000c7;
        color: #fff;
        padding: 2px;
    }

    input[type="date"] {
        width: 200px;
        padding: 2px;
    }

    h4 {
        position: relative;
        top: 20px;
        left: 0px;
    }

    .button-62 {
        position: absolute;
        left: 7vw;
        top: 60px;
        width: auto;
        padding: 0 90px;
    }
    .footer{
        display: flex;
        position: relative ;
        bottom: 0px;
        justify-content: center;
        background-color: #212529;
        padding: 20px;
        color: #fff;
        flex-wrap: wrap;
        text-align: center;
        gap: 20px;
        bottom: 2px;
        
    }
}

@media only screen and (max-width: 600px) and (min-width: 476px) {
    h4 {
        position: relative;
        top: 0px;
        left: 10px;
    }

    .button-62 {
        position: absolute;
        left: -20vw;
        top: 70px;
        width: auto;
        padding: 0 90px;
    }
    .footer{
        display: flex;
        justify-content: center;
        background-color: #212529;
        padding: 20px;
        color: #fff;
        flex-wrap: wrap;
        text-align: center;
        gap: 40px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 600px) {
    #car {
        position: relative;
        left: 0px
    }
    #map {
        border: 0;
        position: absolute;
        top: 1500px;
        left: 15px;
        border-radius: 20px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.418);
        height: 45vh;
        width: 92vw;
    }
    .des {
        width: auto;
        height: auto;
    }

    .book {
        position: absolute;
        top: auto;
        left: 15px;
        font-size: 20px;
        height: 450px;
        width: auto;
        padding: 10px;
        margin-right: 15px;
    }

    .book input {
        border-radius: 10px;
        border: 2px;
        box-shadow: 2px 2px 10px black;
        background: #000000c7;
        color: #fff;
        padding: 2px;
    }

    input[type="date"] {
        width: 200px;
        padding: 2px;
    }

    h4 {
        position: relative;
        top: 0px;
        left: 10px;
    }

    .button-62 {
        position: absolute;
        left: -9vw;
        top: 70px;
        width: auto;
        padding: 0 90px;
    }
    .footer{
        display: flex;
        justify-content: center;
        background-color: #212529;
        padding: 20px;
        color: #fff;
        flex-wrap: wrap;
        text-align: center;
        gap: 40px;
        display: flex;
    }

}

